
<table class="table table-striped">
<thead>
  <tr>
    <td>id</td>
    <td>username</td>
    <td>displayName</td>
    <td>createdAt</td>
  </tr>
</thead>

<tbody>
  {{#each}}
  <tr>
    <td>{{id}}</td>
    <td>{{username}}</td>
    <td>{{displayName}}</td>
    <td>{{createdAt}}</td>
  </tr>
  {{/each}}
</tbody>
</table>
