<hr>
<div class="container" id="footer">
  <div class="row">
    <div class="col-sm-6">
      <a href="https://github.com/wejs">Github</a> <small class="text-muted">|</small> <a href="https://wejs.org">Site</a>
    </div>
    <div class="col-sm-6">
      <p>
      <span class="pull-right">
        <a href="#" >WE License MIT 2013</a> | Theme
        from <a href="http://bootply.com/96266" target="ext">@Bootply</a>
      </span>
      </p>
    </div>
  </div>
</div>

<hr>
<h4 class="text-center">
<a href="https://github.com/wejs/we" target="ext">We.js</a> | <a href="http://sailsjs.org">Sails.js</a> | <a href="http://emberjs.com/">Ember.js</a>
</h4>
