
<div class="main-area" id="main">

  {{partial 'partials/navbar'}}

  <div class="container">
    <div class="breadcrumb-area">

    </div>

    {{outlet}}
  </div>
  {{partial 'partials/footer' }}
  <hr>
</div>
